.table-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
  overflow-x: auto;
}

.mission-table {
  border-collapse: collapse;
  width: 100%;
}

.mission-table td,
.mission-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.mission-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.status {
  width: 13%;
}

.titles {
  font-weight: 900;
}

.nonactiveStyle {
  padding: 5px;
  background-color: #777474;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.activeStyle {
  padding: 5px;
  background-color: #07a6a6;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.joinMission {
  padding: 10px 15px;
  font-size: 15px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

.leaveMission {
  padding: 10px 15px;
  font-size: 15px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid red;
  color: red;
}

.memberBtn {
  text-align: center;
}

.reserveBtn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(13, 141, 177);
  padding: 0.7rem 1rem;
  color: #fff;
}

.reserveBtn:hover {
  background-color: rgb(8, 93, 117);
}
